# fastapi
# uvicorn
# moviepy
# opencv-python
# Pillow
# python-multipart
# pydantic
# torch
# torchvision

# python-dotenv
# transformers
# sentencepiece
# accelerate
# moviepy
google-generativeai>=0.7.0
moviepy>=1.0.3
opencv-python>=4.8.0
python-dotenv>=1.0.1
Pillow>=10.0.0
